.header-nav__list {
  @include list;

  display: flex;
  flex-wrap: wrap;

  @media (max-width: $tablet) {
    flex-direction: column;
    padding-top: 134px;
  }
}

.header-nav__link {
  display: block;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: $darkest;

  &:hover {
    color: $basic;
  }

  &:focus,
  &:active {
    color: $basic;
    opacity: 0.6;
  }

  @media (max-width: $tablet) {
    position: relative;
    width: 320px;
    height: 60px;
    margin-bottom: 30px;
    padding: 15px 16px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $dark-grey;
    background-color: $light-grey;

    &::after {
      content: "";
      position: absolute;
      top: 23px;
      right: 25px;
      width: 8px;
      height: 12px;
      background: url("../img/menu-arrow-icon.svg") 0 0 no-repeat;
    }
  }
}

.header-nav__item {
  margin-right: 20px;
}

.header-nav__toggle {
  display: none;

  @media (max-width: $tablet) {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 72px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  @media (max-width: $mobile) {
    width: 50px;
  }
}

.header-nav--closed .header-nav__toggle {
  background-color: $basic;

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 25px;
    width: 22px;
    height: 1px;
    background-color: $white;
    box-shadow: 0 6px 0 0 $white, 0 12px 0 0 $white;
  }

  @media (max-width: $mobile) {
    &::before {
      left: 14px;
    }
  }
}

.header-nav--opened .header-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 13px;
    width: 22px;
    height: 22px;
    background: url("../img/close-icon.svg") 0 0 no-repeat;
  }
}

.header-nav--opened {
  @media (max-width: $tablet) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 320px;
    height: 568px;
    background-color: $white;
  }
}

.header-nav--nojs {
  @media (max-width: $tablet) {
    position: relative;
    width: 320px;
    height: 568px;
    background-color: $white;
  }
}

@media (max-width: $tablet) {
  .header-nav--closed .header-nav__list {
    display: none;
  }

  .header-nav--nojs .header-nav__toggle {
    display: none;
  }

  .header-nav--nojs .header-nav__list {
    display: block;
  }
}
