// colors

$basic: #fe7865;
$hover: #f17d4b;
$darkest: #141517;
$dark: #2c2e3f;
$grey: #d7d9df;
$light-grey: #fbf8f8;
$dark-grey: #48494d;
$white: #ffffff;
$black: #000000;
$shadow: #293642;

$blue: #5078a2;

// viewports

$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;
